CORRECTIONS:
- Resolutions des problemes de push pour certains de mes fichiers.

Ajout:

- Ajout d'explications sur le fichier bugfix.txt
- Ajout de modifications sur le fichier app.md